<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Sở thích - Lê Gia Huy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background: radial-gradient(circle at top, rgb(219, 88, 18), #0ff);">
  <a href="/" class="back-btn">⬅ Trở lại</a>
  <h1>Sở thích</h1>

<ul style="font-size: 22px; list-style: none; padding: 0;">
  <li>🎮 Chơi game (Roblox: Ticchansi)</li>
  <li>💻 Lập trình</li>
  <li>🎬 Xem anime (đôi khi xem Mèo Đen)</li>
  <li>🔬 Khám phá khoa học</li>
  <li>🧪 Idol: Ishigami Senku</li>
</ul>

</body>
</html>
